image: registry.gitlab.com/christiantragesser/pypline-ci:fakos

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  EXT_NAME: $CI_REGISTRY/christiantragesser/fakos

services:
  - name: docker:stable-dind

stages:
  - test

test:
  stage: test
  tags:
    - docker
  script:
    - python3 $CI_PROJECT_DIR/ci.py test
    - docker tag local/fakos:latest $EXT_NAME:latest
    - docker tag $EXT_NAME:latest $EXT_NAME:$CI_COMMIT_SHA
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker push $EXT_NAME:latest | grep -e "The push refers to" -e latest
    - docker push $EXT_NAME:$CI_COMMIT_SHA | grep -e "The push refers to" -e latest
