kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.fullname | quote }}
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.fullname | quote }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.fullname | quote }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.fullname | quote }}
  namespace: {{ .Values.namespace | quote }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.fullname | quote }}
  namespace: {{ .Values.namespace | quote }}
